{% extends "page_template.html" %}
{% block content %}
<br>
<hr>
<br>
<main>
	<p> How to play: 
		<ul>
			<li>Move via arrows or w,a,s,d</li>
			<li>Access inventory via 'I'</li>
			<li>Attack via space (the range is 2 tiles forward and ttacks are int he facing direction)</li>
			<li>Shoot blocks via 'Q' (works the same with melee as bolts go in the direction you face)</li>
			<li>Shops are the orange blocks and are accessed via walking up to them and pressing 'E'</li>
			<li>To close menus press 'ESC'</li>
			</ul></p>
    <canvas id="game_canvas" width=900 height=700>
    </canvas>
</main>
<br>
<hr>
<br>
{% endblock content %}
